<table class="table table-sm table-striped table-responsive table-hover align-items-center">
    <thead class="table-dark">
        <tr>
            <th class="text-center border-end fw-light" scope="col">Razão</th>
            <th class="text-center border-end fw-light prn-tb-resp" scope="col">Fantasia</th>
            <th class="text-center border-end fw-light" scope="col">CNPJ</th>
            <th class="text-center border-end fw-light prn-tb-resp" scope="col">Cidade</th>
            <th class="text-center border-end fw-light prn-tb-resp" scope="col">Estado</th>
            <th class="text-center border-end fw-light prn-tb-resp" scope="col">Regime</th>
            <th class="text-center border-end fw-light" scope="col">Ações</th>
        </tr>
    </thead>
    <tbody class="align-middle">

        @foreach (var item in Model)
        {
            <tr class="prn-resp-td">
                <td class="border-end">@item.Razao</td>
                <td class="border-end prn-tb-resp">@item.Fantasia</td>
                <td class="border-end ">@item.Cnpj</td>
                <td class="border-end prn-tb-resp">@item.Cidade</td>
                <td class="border-end text-center prn-tb-resp">@item.UF</td>
                @if (item.RegJuridico == null)
                {
                    <td class="border-end text-center prn-tb-resp">
                        <div class="dropdown">
                            <a class="border border-0 dropdown-toggle text-primary-emphasis" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Escolha um Regime
                            </a>

                            <ul class="dropdown-menu">

                                @foreach (var regime in ViewBag.RegimesJuridicos)
                                {
                                    <li><a class="dropdown-item" asp-controller="Cliente" asp-action="AlterarRegime" asp-route-regimeNome="@regime.Nome" asp-route-id="@item.Id">@regime.Nome</a></li>

                                }

                            </ul>
                        </div>



                    </td>
                }
                else
                {
                    <td class="border-end text-center prn-tb-resp">
                        <div class="dropdown ">
                            <a class="border border-0 dropdown-toggle text-primary-emphasis" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                                @item.RegimeJuridico.Nome
                            </a>

                            <ul class="dropdown-menu">

                                @foreach (var regime in ViewBag.RegimesJuridicos)
                                {
                                    <li><a class="dropdown-item" asp-controller="Cliente" asp-action="AlterarRegime" asp-route-regimeNome="@regime.Nome" asp-route-id="@item.Id">@regime.Nome</a></li>

                                }

                            </ul>
                        </div>
                    </td>
                }
                <!-- Example split danger button -->




                <td class="prn-border-table text-center">

                    <button data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Alterar Registro" class="btn btn-outline-primary border-0" data-value="@item.Id" onclick="chamarEdit(@item.Id,false)"><i class="fas fa-edit"></i></button>
                    <button data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Visualizar Registro" class="btn btn-outline-success border-0" data-value="@item.Id" onclick="chamarDetails(@item.Id,false)"><i class="fas fa-eye"></i> </button>
                    <button data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Apagar Registro" class="btn btn-outline-danger border-0" data-value="@item.Id" onclick="chamarDelete(@item.Id,false)"><i class="fas fa-trash-alt"></i> </button>
                    @*        <a onclick="chamarAssociarIndividual(@item.Id,false)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Associar Estado" class="btn btn-outline-secondary border-0"><i class="fa-solid fa-tag"></i></a> *@

                </td>



            </tr>


        }




    </tbody>
</table>

