<table class="table table-sm table-striped table-responsive table-hover align-items-center">
    <thead class="table-dark">
        <tr>
            <th class="text-center border-end fw-light" scope="col">Razão Social</th>
            <th class="text-center border-end fw-light prn-tb-resp" scope="col">Fantasia</th>
            <th class="text-center border-end fw-light" scope="col">CNPJ</th>
            <th class="text-center border-end fw-light prn-tb-resp" scope="col">Cidade</th>
            <th class="text-center border-end fw-light prn-tb-resp" scope="col">Estado</th>
            <th class="text-center border-end fw-light prn-tb-resp" scope="col">Regime</th>
            <th class="text-center border-end fw-light prn-tb-resp" scope="col">Cnd</th>
            <th class="text-center border-end fw-light prn-tb-resp" scope="col">Data Vencimento</th>
            <th class="text-center border-end fw-light prn-tb-resp" scope="col">Arquivo</th>
            <th class="text-center border-end fw-light" scope="col">Ações</th>
        </tr>
    </thead>
    <tbody class="align-middle">

        @foreach (var item in Model)
        {
            <tr class="prn-resp-td">
                <td class="border-end">@item.Empresa.Razão</td>
                <td class="border-end prn-tb-resp">@item.Empresa.Fantasia</td>
                <td class="border-end ">@item.Empresa.Cnpj</td>
                <td class="border-end prn-tb-resp">@item.Empresa.Cidade</td>
                <td class="border-end text-center prn-tb-resp">@item.UF</td>
                <td class="border-end text-center prn-tb-resp">@item.NCnd</td>
                <td class="border-end text-center prn-tb-resp">@item.DataVend</td>
                <td class="border-end text-center prn-tb-resp">@item.PdfCnd</td>
               
            

                <td class="prn-border-table text-center">

                    <button data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Alterar Registro" class="btn btn-outline-primary border-0" data-value="@item.Id" onclick="chamarEdit(@item.Id,false)"><i class="fas fa-edit"></i></button>
                    <button data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Visualizar Registro" class="btn btn-outline-success border-0" data-value="@item.Id" onclick="chamarDetails(@item.Id,false)"><i class="fas fa-eye"></i> </button>
                    <button data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Apagar Registro" class="btn btn-outline-danger border-0" data-value="@item.Id" onclick="chamarDelete(@item.Id,false)"><i class="fas fa-trash-alt"></i> </button>

                </td>



            </tr>


        }




    </tbody>
</table>

