﻿
<table class="table table-sm table-striped table-responsive table-hover align-items-center">
    <thead class="table-dark">
        <tr>
            <th class="text-center border-end fw-light" scope="col">Id</th>
            <th class="text-center border-end fw-light" scope="col">Nome</th>
            <th class="text-center border-end fw-light" scope="col">Login</th>
            <th class="text-center border-end fw-light" scope="col">E-mail</th>
            <th class="text-center border-end fw-light" scope="col">Ativo</th>
            <th class="text-center border-end fw-light" scope="col">Ações</th>

        </tr>
    </thead>
    <tbody class="align-middle">

        @foreach (var item in Model)
        {
            <tr class="prn-resp-td">
                <td class="border-end text-center">@item.Id</td>
                <td class="border-end">@item.Nome</td>
                <td class="border-end ">@item.Login</td>
                <td class="border-end ">@item.Email</td>
                @if (item.Status == 1)
                {
                    <td class="text-center text-info-emphasis fw-bold border-end">
                        @*  <i class="fa-solid fa-face-smile fs-6 "></i> *@
                        <i class="fa-solid fa-check fs-5"></i>
                    </td>
                }
                else
                {
                    <td class="text-center text-danger-emphasis border-end fw-bold">

                        <i class="fa-solid fs-5 fa-xmark"></i>

                    </td>
                }

                <td class="prn-border-table text-center">
                    <button data-toggle="tooltip" data-placement="left" data-title="Alterar Registro" class="btn btn-outline-primary border-0" data-value="@item.Id" onclick="chamarEdit(@item.Id,false)"><i class="fas fa-edit"></i></button>
                    <button data-toggle="tooltip" data-placement="left" data-title="Visualizar Registro" class="btn btn-outline-success border-0" data-value="@item.Id" onclick="chamarDetails(@item.Id,false)"><i class="fas fa-eye"></i> </button>
                    <button data-toggle="tooltip" data-placement="left" data-title="Apagar Registro" class="btn btn-outline-danger border-0" data-value="@item.Id" onclick="chamarDelete(@item.Id,false)"><i class="fas fa-trash-alt"></i> </button>
                </td>



            </tr>


        }




    </tbody>
</table>